{% extends 'header.html.twig' %}
{% block body %}


    


        <div class="container2" >
            

            <div class="content">
 <div id="accordion">
  {% if vievPrepare %}
      
    {% if vievPrepare[0].corps is defined %}
        {% for viev in vievPrepare %}  
        <div>
        <div class="regimentName"><b>{{ viev.name }}</b></div>
 
             <div class="card bg-light mb-3" style="margin: 10px;">
                           
                            <div class="card-body" style="margin-left: 45px;margin-right: 45px; " >
                                <h4 class="card-title">Adres</h4>
                                <p class="card-text">{{ viev.adress }}</p>
                            </div>

                            <div class="card-body" style="margin-left: 45px;margin-right: 45px;">
                                <h4 class="card-title">Miasto</h4>
                                <p class="card-text">{{ viev.city }} </p>
                            </div>  

                            <div class="card-body" style="margin-left: 45px;margin-right: 45px;">
                                <h4 class="card-title">Województwo</h4>
                                <p class="card-text"> {{ viev.county }} </p>
                            </div>

                            <div class="card-body" style="margin-left: 45px;margin-right: 45px;">
                                <h4 class="card-title">Rodzaj wojsk</h4>
                                <p class="card-text"> {{ viev.subtype }} </p>
                            </div>
                            <div class="card-body" style="margin-left: 45px;margin-right: 45px;">
                                <h4 class="card-title">Telefon</h4>
                                <p class="card-text"> {{ viev.telNumber }} </p>
                            </div>
             </div><br>
        
          
            <div class="card" >
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" >
                        <div class="regimentName">Opis</div>
                        <div class="card bg-light mb-3">
                           
                            <div class="card-body" style="margin-left: 80px;margin-right: 80px;" >
                                <h4 class="card-title">Data publikacji</h4>
                                <p class="card-text">{{ viev.dateInsert }} </p>
                            </div>

                            <div class="card-body" style="margin-left: 80px;margin-right: 80px;">
                                <h4 class="card-title">Data rekrutacji</h4>
                                <p class="card-text">{{ viev.dateRec }} </p>
                            </div>

                            <div class="card-body" style="margin-left: 80px;margin-right: 80px;">
                                <h4 class="card-title">Godzina</h4>
                                <p class="card-text">{{ viev.hour }} </p>
                            </div>

                            <div class="card-body" style="margin-left: 80px;margin-right: 80px;">
                                <h4 class="card-title">Korpus</h4>
                                <p class="card-text">{{ viev.corps }} </p>
                            </div>

                       
                            <div style="clear:both; font-size: 16px; margin-bottom: 10px;"> Szczegóły: {{ viev.offerDescription }}</div>
                        </div>



                    </li> </ul> 



            </div>



        {% endfor %}                             

    </div>
   
 {% else %}  
  {% for viev in vievPrepare %}    
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target='#{{ viev.id }}' aria-expanded="true" aria-controls="1" id="nazwa">
            <b>{{ viev.name }}</b>
        </button>
      </h5>
    </div>

    <div id='{{ viev.id }}' class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{ viev.regDescription }} <a href="/regiment/{{ viev.id }}">zobacz oferty rekrutacji</a>
      </div>
    </div>
  </div>
 {% endfor %}
{% endif %}            
{% endif %}                  
                
            </div>
        </div>
    </div>



{% endblock %}
